@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



nav {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    font-weight:400;
    background: rgba(0, 0, 0, 0.562);
    height: 7vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-image: url('https://cdn.orangeable.com/img/javascript-equalizer.gif') ;
  }
  
a {
    color: rgb(248, 248, 248);
    font-size: 20px;
    font-weight:800;
}
  

p {
    color: rgb(255, 255, 255);
  }

h1 {
  left:50%; top:100px;
  font-size: 60px;
  text-align: center;
  font-weight:800;
}

/* h3 {
  color: rgb(0, 0, 0);
  position:absolute; left:45%; top:200px;
  font-size: 50px;
  font-style: italic;
  font-weight:100;
  
} */

span {
  color: rgb(255, 255, 255);
}

body {
  color: rgb(226, 213, 186);
  background: rgb(0, 0, 0);
  font-family: 'poppins', sans-serif; 
  font-size: 14px;
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  width:100%;
  height:80%;
  background-image: radial-gradient(circle farthest-side at top, transparent, #000000), radial-gradient(ellipse farthest-corner at 10% 30%, transparent, #0000007c);
  
  
  /* https://media.tenor.com/WzXfobzzVDIAAAAd/sound-waves-cool-to-watch.gif
  https://cdn.orangeable.com/img/javascript-equalizer.gif */
  background-size: contain;

  height: 80vh;
  padding:0;
  margin:0;
}

img {
  width:100%;
  left: 0px;
}


.abba {
  width: 600px;
  border: 11px solid rgb(0, 0, 0);
  margin: 25px 0;
  position: fixed;
  left: 56.8%;
  top: 40%;
}


.rock_cover {
  width: 1200px;
  border-right: 110px solid rgb(0, 0, 0);
  border-left: 110px solid rgb(0, 0, 0);
  /* margin: 50px 0; */

  top: 0%;
}


input {
  width: 40%;
}

input[type=text] {
  width: 45%;
  padding: 12px 20px;
  margin: 25px 0;
  box-sizing: border-box;
  position: relative;
  left: 0%;
  border-radius: 10cm;
  font-family: 'Rajdhani', sans-serif;
}


input[type=password] {
  width: 45%;
  padding: 12px 20px;
  margin: 25px 0;
  box-sizing: border-box;
  position: relative;
  left: 0%;
  border-radius: 10cm;
  font-family: 'Rajdhani', sans-serif;
}

input[type=submit] {
  width: 45%;
  padding: 12px 20px;
  margin: 25px 0;
  box-sizing: border-box;
  position: relative;
  left: 0%;
  border-radius: 10cm;
  font-family: 'Rajdhani', sans-serif;
}

.notice {
 background:rgb(255, 11, 11);
 width:60vw;
 padding:50px;
 position:fixed;
 font-size:4rem;
 font-family:'Rajdhani', sans-serif;
}
