
  form action="/albums/new #{result['album_id']}/update" method="post"  
    input type="text" name="title" value="#{result['Title']}"
    input type="hidden" name="artist_id" value="#{result['artist_id']}"
    input type="submit" value="Edit it"
    
    