form action="/albums/new" method="post" enctype="multipart/form-data"
    input type="text" name="title" placeholder="Title on album"
    input type="text" name="artist_id" placeholder="What year"
    input type="submit" value="Create album"
 
   
    

